<mat-toolbar class="barra">
  <div> 
    <img class="imggbarra" src="assets/SolarisLogo2.png"></div>
  <span style=" color: #bc9d58; margin-left: 100px; padding-bottom: 30px;" >SOLARIS : EL CAFE DEL SOL</span>
</mat-toolbar>


<div style="margin-bottom: 40px; margin-top: 50p; text-align:right; background-color: #42291d; ">
  <div> 
    <div style=" padding-bottom: 30px;">
      <button class="botones" (click)="contacto()">Contacto</button>
      <button class="botones" (click)="solaris()">Solaris</button>
      <button class="botones" (click)="home()">Home</button>
      <button class="botones"(click)="productos()" >Comprar en linea</button>
     </div>  </div>  </div>



  
  
  <main>
    <div style="display: flex; align-items: center; gap: 20px; margin-top: 20px;">
      <div style="flex: 1;">
    <h1 class="textoespecial">Contamos con gran variedad de cafe en grano para tu disfrute</h1>
    
    <h2 class="texto">
      Solaris es una empresa Mexicana fundada en Oaxaca en el año 2005, recién cumpliendo 20 años en generando sonrisas en las mañanas de nuestros consumidores. Nuestro café es 100% natural cultivado directamente de nuestros campos Zacatlit y y cosechados artesanalmente para que su aroma y sabor se mantenga fuerte y duraredo al llegar a los hogares.
      Solaris tiene la meta de expandirse internacionalmente, aunque nuestra sede oficial este ubicada en Oaxaca contamos con dos sedes oficiales en Argentina y Canadá pero esforzándonos para nuestra siguiente cede en Japon sea igual de exitosa y hogareña como todas las sedes Solaris.
      
      </h2>
    </div>
    <div style="flex: 1; text-align: center; margin-right: 10px;">
      <img src="assets/OaxacaCafe.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px;">
    </div>
  </div>




  <div>
    <h1 class="textoespecial">Nuestros productos:</h1>
    <div style="flex: 1; text-align: center;">
      <div style="display: flex; gap: 20px; justify-content: center; align-items: center;">
        <div style="margin: 30px;">
          <img src="assets/Ara.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
        </div>
        <div style="margin: 30px;">
          <img src="assets/Robu.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
        </div>
        <div style="margin: 30px;">
          <img src="assets/libe.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
        </div>
        <div style="margin: 30px;">
          <img src="assets/exc.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
        </div>
      </div>
    </div>
  </div>
  




  
  <div style="display: flex; align-items: center; gap: 20px; margin-top: 20px;background-color: #42291d; margin-bottom: 20px;">
    <div style="flex: 1;">
  <h1 class="textoespecial">¿SABIAS QUE...</h1>
  
  <h2 class="texto" style="color: white; margin: 10px;">
    El café de grano recién molido contiene más antioxidantes que los cafés procesados o instantáneos. Estos antioxidantes, como los polifenoles, ayudan a combatir el estrés oxidativo en el cuerpo, lo que puede contribuir a reducir el riesgo de enfermedades crónicas como la diabetes tipo 2, enfermedades cardíacas e incluso algunos tipos de cáncer.

          Además, ¡el aroma del café recién molido también tiene efectos relajantes en el cerebro! Solo olerlo puede reducir el estrés y mejorar tu estado de ánimo
    </h2>
  </div>
</div>

 
</main>
