<mat-toolbar class="barra">
    <div> 
      <img class="imggbarra" src="assets/SolarisLogo2.png"></div>
    <span style=" color: #bc9d58; margin-left: 100px; padding-bottom: 30px;" >SOLARIS : EL CAFE DEL SOL</span>
  </mat-toolbar>
  
  
  <div style="margin-bottom: 40px; margin-top: 50p; text-align:right; background-color: #42291d; ">
    <div> 
      <div style=" padding-bottom: 30px;">
        <button class="botones" (click)="contacto()">Contacto</button>
        <button class="botones" (click)="solaris()">Solaris</button>
        <button class="botones" (click)="home()">Home</button>
        <button class="botones"(click)="productos()" >Comprar en linea</button>
       </div>  </div>  </div>
  
  
       <div> 
  
        <h1 class="textoespecial">Contactanos para resolverte cualquier duda o sugerencia</h1>
       
        <h2 class="texto"> Nuestra linea telefonica disponible las 24 horas de los 7 dias de la semana 
            para toda la republica Mexicana +51 8714902384</h2>
        <h2 class="texto"> Nuestro correo electronico disponible las 24 horas de los 7 dias de la semana 
            internacionalmente  Solariselcafedelsol.com </h2>
       <h2 class="textoespecial"> Solaris siempre estara disponible para ti</h2>
      
      </div>