
<mat-toolbar class="barra">
    <div> 
      <img class="imggbarra" src="assets/SolarisLogo2.png"></div>
    <span style=" color: #bc9d58; margin-left: 100px; padding-bottom: 30px;" >SOLARIS : EL CAFE DEL SOL</span>
  </mat-toolbar>
  
  
  <div style="margin-bottom: 40px; margin-top: 50p; text-align:right; background-color: #42291d; ">
    <div> 
      <div style=" padding-bottom: 30px;">
        <button class="botones" (click)="contacto()">Contacto</button>
        <button class="botones" (click)="solaris()">Solaris</button>
        <button class="botones" (click)="home()">Home</button>
        <button class="botones"(click)="productos()" >Comprar en linea</button>
       </div>  </div>  </div>
  
  
  
  <main>
    <div> 
    <h1 class="textoespecial">Contamos con gran variedad de cafe en grano para tu disfrute</h1>
    
    <div>
      <h1 class="textoespecial">Bolsa con un kilogramo de Cafe</h1>
      <div style="flex: 1; text-align: center;">
        <div style="display: flex; gap: 20px; justify-content: center; align-items: center;">


          <div style="margin: 30px;">
            <img src="assets/Ara.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
         <p class="textoespecial"> $300.00 </p>
         
          </div>


          <div style="margin: 30px;">
            <img src="assets/Robu.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
            <p class="textoespecial"> $300.00 </p>

          </div>

          <div style="margin: 30px;">
            <img src="assets/libe.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
            <p class="textoespecial"> $300.00 </p>

          </div>

          <div style="margin: 30px;">
            <img src="assets/exc.jpg" alt="Café de Oaxaca" style="max-width: 100%; border-radius: 10px; width: 200px;">
            <p class="textoespecial"> $300.00 </p>

          </div>

        </div>
      </div>
    </div>
    




    <h1 class="textoespecial"> Mas sobre nuestros granos </h1>

    <div style="flex: 1; text-align: center;">
      <div style="display: flex; gap: 20px; justify-content: center; align-items: center;">
    <h1 class="textoespecial"> 1.Arabica </h1>

   <h2 class="texto"> 
    Origen: Etiopía.
    Sabor: Suave, dulce, con notas frutales y florales. Baja acidez y menos amargor.
    Cafeína: Menor contenido de cafeína en comparación con otros tipos.
    Popularidad: Representa aproximadamente el 60-70% de la producción mundial. Es la variedad más apreciada por su calidad.
    Cultivo: Prefiere climas frescos, altitudes elevadas y requiere más cuidados.
  </h2>
  <h1 class="textoespecial">  2. Robusta  </h1>
    <h2 class="texto"> 
  
    Origen: África subsahariana.
    Sabor: Más fuerte, con notas amargas, terrosas y un cuerpo más pesado.
    Cafeína: Alto contenido de cafeína, casi el doble que el arábica.
    Popularidad: Más resistente a plagas y enfermedades; se usa en mezclas para añadir fuerza o en cafés instantáneos.
    Cultivo: Crece a altitudes más bajas y soporta temperaturas más altas.
  </h2>
  <h1 class="textoespecial">  3. Libérica </h1>
    <h2 class="texto"> 
  
    Origen: África Occidental, especialmente Liberia.
    Sabor: Un perfil único, con notas ahumadas, amaderadas o especiadas.
    Granos: Más grandes y de forma irregular en comparación con otras variedades.
    Popularidad: Menos común, se cultiva principalmente en Malasia, Filipinas y algunas partes de África.
    Cultivo: Crece en condiciones cálidas y húmedas, pero es menos resistente que el robusta.
  </h2>
  <h1 class="textoespecial"> 4. Excelsa  </h1>
    <h2 class="texto"> 
  
    Origen: Antes se consideraba una especie independiente, pero ahora se clasifica como una variedad de la libérica.
    Sabor: Notas afrutadas y ácidas, con un cuerpo ligero y un perfil complejo que combina dulzura y acidez.
    Popularidad: Se cultiva principalmente en el sudeste asiático, en especial Filipinas.
    Cultivo: Crece en climas tropicales y tolera altitudes variadas.
  </h2>
    </div>
    </div>
    </div>
  
    
  </main>
  
 